@font-face {
  font-family: Pokemon;
  src: url("./fonts/Pokemon\ Classic.ttf");
}

html {
  background-color: crimson;
  text-align: center;
}

.pokedex-button {
  margin-top: 150px;
  border: ridge 2px cyan;
  border-radius: 300px;
  animation: glow 6s infinite;
}

.loading {
  float: left;
  margin-left: 200px;
}

.body {
  text-align: center;
  margin-bottom: 70px;
}

h1 {
  font-family: Pokemon;
  font-size: 40pt;
  color: white;
}

.id {
  margin-top: 10px;
  font-size: 20pt;
}

.searchbar {
  height: 25px;
  width: 300px;
  font-family: Pokemon;
}

.search {
  height: 85px;
  width: 85px;
  margin-left: 10px;
  font-family: Pokemon;
  font-size: 8.5pt;
  border-radius: 100px;
  background-color: cornflowerblue;
  border: solid 4px white;
}

.dropdowns {
  margin-top: 20px;
  margin-bottom: 40px;
}

.pokemon {
  font-family: Pokemon;
  margin-right: 10px;
}

.link-id {
  text-decoration: none;
  color: black;
}

.type {
  font-family: Pokemon;
  margin-right: 10px;
}

.attack {
  font-family: Pokemon;
  margin-right: 10px;
}

.hp {
  font-family: Pokemon;
  margin-right: 10px;
}

.beginning {
  margin-right: 5px;
  width: 100px;
  height: 20px;
  font-family: Pokemon;
  font-size: 7pt;
  background-color: red;
  border: inset 1px black;
}

.previous {
  margin-right: 5px;
  width: 100px;
  height: 30px;
  font-family: Pokemon;
  font-size: 8pt;
  background-color: red;
  border: inset 1px black;
}

.next {
  margin-right: 5px;
  width: 100px;
  height: 30px;
  font-family: Pokemon;
  font-size: 8pt;
  background-color: green;
  border: inset 1px black;
}

.end {
  width: 100px;
  height: 20px;
  font-family: Pokemon;
  font-size: 7pt;
  background-color: green;
  border: inset 1px black;
}

.page-count {
  font-family: Pokemon;
}

.pokemon-display {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-gap: 20px;
  justify-content: center;
}

.pokemon-list {
  width: 420px;
  height: 185px;
  padding: 10px;
  border: solid 5px black;
  border-radius: 15px;
  background-color: white;
}

.pokemon-list:hover {
  background-color: palegreen;
  transform: scale(1.04);
  transition-duration: 3s;
}

.pokemon-image {
  float: left;
  width: 150px;
}

.id {
  font-family: Pokemon;
  margin-bottom: 0;
}

h2 {
  margin-top: 5px;
  font-family: Pokemon;
  text-transform: uppercase;
}

.types{
  margin-bottom: 25px;
}

.type1 {
  font-family: Pokemon;
  margin-right: 3px;
  padding: 5px;
  border-radius: 10px;
}

.type2 {
  font-family: Pokemon;
  padding: 5px;
  border-radius: 10px;
}

.back-button {
  margin-bottom: 40px;
  height: 85px;
  width: 85px;
  font-family: Pokemon;
  font-size: 8.5pt;
  border-radius: 100px;
  background-color: cornflowerblue;
  border: solid 4px white;

}

.pokemon-detail {
  position: inline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 400px;
  font-family: Pokemon;
  background-color: white;
  border: solid 5px black;
  border-radius: 20px;
}

.detail-img {
  width: 300px;
  margin-bottom: 0;
}

.detail-id {
  font-size: 18pt;
  color: black;
  margin-top: 0;
}

@keyframes glow {
  0% {
    box-shadow: 10px 10px 50px cyan;
  }

  50% {
    box-shadow: 0px 0px 300px cyan;
    transform: scale(1.04);
  }

  100% {
    box-shadow: 10px 10px 50px cyan;
  }
}