@font-face {
  font-family: Pokemon;
  src: url("./fonts/Pokemon\ Classic.ttf");
}

html {
  background-color: crimson;
  font-family: Pokemon;
  text-align: center;
}

.pokedex-button {
  margin-top: 150px;
}

.loading {
  float: left;
  margin-left: 200px;
}

.body {
  text-align: center;
}

h1 {
  font-family: Pokemon;
  font-size: 40pt;
  color: white;
}

.id {
  margin-top: 10px;
  font-size: 20pt;
}

.searchbar {
  height: 25px;
  width: 300px;
  font-family: Pokemon;
}

button {
  height: 85px;
  width: 85px;
  margin-left: 10px;
  font-family: Pokemon;
  font-size: 8.5pt;
  border-radius: 100px;
  background-color: cornflowerblue;
  border: solid 4px white;
}

.dropdowns {
  margin-top: 20px;
  margin-bottom: 40px;
}

.sort-name {
  font-family: Pokemon;
  margin-right: 10px;
}

.sort-type {
  font-family: Pokemon;
  margin-right: 10px;
}

.sort-attack {
  font-family: Pokemon;
  margin-right: 10px;
}

.sort-health {
  font-family: Pokemon;
  margin-right: 10px;
}

.pokemon-display {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-gap: 20px;
  justify-content: center;
}

.pokemon-list {
  width: 420px;
  padding: 10px;
  border: solid 5px black;
  border-radius: 15px;
  background-color: white;
}

.pokemon-image {
  float: left;
  width: 150px;
}

.id {
  font-family: Pokemon;
  margin-bottom: 0;
}

h2 {
  margin-top: 5px;
  font-family: Pokemon;
  text-transform: uppercase;
}

.type1 {
  font-family: Pokemon;
  margin-right: 3px;
  padding: 5px;
  border-radius: 10px;
}

.type2 {
  font-family: Pokemon;
  padding: 5px;
  border-radius: 10px;
}

.hp {
  font-family: Pokemon;;
}

.attack-defense {
  width: 450px;
  padding: 0;
  margin-left: -10px;
  margin-top: 20px;
  text-align: center;
  font-family: Pokemon;
  font-size: 10pt;
}

.attack {
  font-family: Pokemon;
  margin: 5px;
}

.defense {
  font-family: Pokemon;
  margin: 5px;
}

.speed {
  font-family: Pokemon;
  margin: 5px;
}